.back-icon {
  position: fixed;
  top: .22rem;
  left: .1rem;
  width: .44rem;
  height: .44rem;
  transform: translate(-50%, -50%);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    color: #f6f6f6;
    font-size: .18rem;
    font-weight: bold;
  }
}